<h1>Dragon Ball</h1>
<hr />

<section class="row">
  <div class="col-md-6 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (input)="power.set(txtPower.valueAsNumber)"
      #txtPower
    />
    @if (power()) {
      <p>{{ power() }}</p>
    }

    <button class="mt-2 btn btn-primary" (click)="addCharacter()">Agregar</button>
  </div>

  <div class="col-md-6 col-sm-6">
    <h3>Listado</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {
        @if (character.power > 500) {
        <li>
          <span>{{ idx + 1 }} - {{ character.name }}</span>
          <strong
            [class.text-danger]="character.power > 9000"
            [class.text-info]="character.power < 9000"
          > ({{ character.power }})</strong>
        </li>
        } @else {
          <li>
            <strong>Aqui no hay nadie</strong>
          </li>
        }
      }
    </ul>
  </div>
</section>
